  
body
{
  background-color:#FC9AE6;
}
      h1{
      color:white;
      font-family:courier;
      }
      
      body{
      font-family:Helvetica;
      }
      .image{
      border-style:dashed;
      
      }
      h2{
      color:white;
        
      }
     #div1{
     background-color:yellow;
      }
     #span1{
       background-color:yellow;
      }
     #span2{
       background-color:pink;
      }
li:hover::after{
  background-color:white;
  font-size:100%;
  content:"hi"
}
  

  img{
  display:block;
  width: 300px;
  border:red dotted 3px;
  padding: 6px;
  margin: auto;
}

h3{
  text-align: center;
  color:white;
}
