body
{
  background-color:#32DCD4;
}
      h1{
      color:red;
      font-family:courier;
      }
      
      body{
      font-family:Helvetica;
      }
      .image{
      border-style:dashed;
      
      }
      h2{
      color:red;
        
      }
     #div1{
     background-color:white;
      }
     #span1{
       background-color:yellow;
      }
     #span2{
       background-color:pink;
      }
ol:hover::after{
      color:red;
        background-color:purple;
        Content:"Hi"
      font-size:150%;
}
  

  img{
  display:block;
  width: 300px;
  border:red dotted 3px;
  padding: 6px;
  margin: auto;
}

h3{
  text-align: center;
}
